.footer-background {
  background-color: rgb(242, 239, 238);
  height: 65px;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.copy {
  justify-self: center;
  color: rgb(72, 67, 65);
  font-weight: 500;
  font-size: 20px;
}
