* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 400;
  font-family: "Cormorant", serif;
  font-size: 40px;
}

.h2-2 {
  font-size: 60px;
}

.title-hr {
  margin-bottom: 40px;
}

.title {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;

  font-weight: 700;
  font-size: 15px;
}

.description {
  font-family: "Cormorant", serif;
  font-size: 13px !important;

  margin: 5px 5px 5px 5px !important;
  display: block;
}

.description-box {
  background-color: white;
  padding: 2px 8px 8px 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  /* border: 2px solid rgb(198, 187, 198); */
  border-top: 0px;
  margin-top: -3px;
  max-width: 235px;
  height: auto;

  transform: scaleY(0); /* Start with a vertical scale of 0 */
  transform-origin: top; /* Set the transform origin to the top */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Adjust the duration as needed */
  position: absolute;
}

.container {
  padding: 50px 140px 120px 140px;
  min-height: 80.5vh;
}

.container2 {
  padding: 100px 200px 120px 200px;
  min-height: 80.5vh;
  align-items: center;
}

.box {
  background-color: rgb(242, 236, 235);
  opacity: 0;
  height: auto;
  min-width: 350px;
  padding: 40px 80px;
  /* box-shadow: 0 0 13px 1px rgb(34, 34, 42, 0.5); */
}
.off-white {
  background-color: rgb(242, 239, 238);
}

.box-outline {
  margin-top: 30px;
  height: auto;
  min-width: 350px;
  padding: 0px 80px 40px 80px;
  border: rgb(42, 42, 42) 1px;
  border-style: none solid;
}

.home,
.shop,
.FAQ {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.page-title {
  margin-bottom: 0px;
  margin-top: 15px;
  align-items: left;
  text-align: center;

  color: rgb(49, 49, 63);
  font-size: 85px;
  font-weight: 300;
  font-family: "Great Vibes", cursive;
  text-decoration: none;
}
.page-title-2 {
  margin-bottom: 20px;
  align-items: left;
  text-align: center;

  color: rgb(49, 49, 63);
  font-size: 50px;
  font-weight: 300;
  font-family: "Great Vibes", cursive;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
  z-index: 1;
}

/* star effect */
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling {
  display: block;
  background-size: cover;
}

.stars {
  background: #17171a url(../public/images/stars.png) repeat top center;
  z-index: 0;
  height: auto;
  min-width: 350px;
  /* box-shadow: 0 0 13px 1px rgb(34, 34, 42, 0.5); */
}

.twinkling {
  position: relative;
  height: auto;
  width: auto;
  z-index: 1 !important;
  background: url("../public/images/twinkling2.png") repeat top center;

  animation: move-twink-back 200s linear infinite;
}

.cormorant-sc {
  font-family: "Cormorant SC", serif;
}

@media only screen and (max-width: 600px) {
  /* Font size adjustment for small screens */
  body {
    overflow-x: hidden;
  }
  .h2-2 {
    font-size: 55px;
    line-height: 1.2;
  }

  .page-title {
    font-size: 55px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .page-title-2 {
    font-size: 44px;
  }
  .container {
    padding: 10px 40px 40px 40px;
    min-height: 80.5vh;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    width: 100vw;
  }
  .title-hr {
    margin-bottom: 20px;
  }
}

/* Media query for medium devices (tablets, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 899px) {
  /* Tablet-specific styles */
  .page-title {
    font-size: 60px;
  }
  .container {
    padding: 10px 100px 120px 100px;
    min-height: 80.5vh;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
  }
}

/* Media query for large devices (desktops, 992px and up) */
@media only screen and (min-width: 900px) and (max-width: 1399px) {
  /* Desktop-specific styles */
  .page-title {
    font-size: 85px;
  }

  .container {
    padding: 10px 100px 120px 100px;
    min-height: 80.5vh;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    padding: 10px 160px 120px 160px;
    min-height: 80.5vh;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
  }
}
